{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block modal_class %}login {% if hide %}modal{% endif %}{% endblock %}

{% block form_action %}{% url 'login' %}{% endblock %}
{% block ng_controller %}hzLoginController{% endblock %}
{% block autocomplete %}{{ HORIZON_CONFIG.password_autocomplete }}{% endblock %}

{% block modal-body %}
<style type="text/css">
   body {
     background:#00243d url('https://dn-ustack.qbox.me/static/public/img/bg.jpg') center center no-repeat fixed;
     -webkit-background-size:cover;
     -moz-background-size:cover;
     -o-background-size:cover;
     background-size:cover;
     -webkit-tap-highlight-color:transparent
   }
   .form-control {
      background-color: rgba(255,255,255,.08);
      color: #fff;
      border: 1px solid #9da4ae;
      height: 40px;
      font-size: 14px;
   }
   .form-control:focus {
   }
   .fa-eye {
      display: none;
   }
   form label {
      color: #ccc;
   }
   .btn {
      color: #fff;
      height: 40px;
      width: 100%;
      background-color: #00b4d2;
      font-size: 16px;
   }
   .btn:focus, .btn:hover, .btn:active {
      color: #fff;
      height: 40px;
      width: 100%;
      background-color: #03A3BE;
      font-size: 16px;
   }
   .modal-header {
      border-bottom: 0px;
   }
   .modal-footer {
      border-top: 0px;
      padding-top: 0px;
   }
   #splash .login {
      border: 0px;
      box-shadow: 0 0px 0px;
   }
   a {
      color: #00bdd8;
   }
   a:hover {
      color: #00bdd8;
      text-decoration: underline;
   }
   .reset-link {
      font-size: 12px;
   }
   .reg-link {
      padding-top: 15px;
      font-size: 12px;
   }
   /*.control-label {
      display: none;
   }*/
</style>
  {% comment %}
    These fake fields are required to prevent Chrome v34+ from autofilling form.
  {% endcomment %}
  {% if HORIZON_CONFIG.password_autocomplete != "on" %}
  <div class="fake_credentials" style="display: none">
    <input type="text" name="fake_email" value="" />
    <input type="password" name="fake_password" value="" />
  </div>
  {%endif%}
  {% include "auth/_description.html" %}
  <fieldset hz-login-finder>
    {% if request.user.is_authenticated and 'next' in request.GET %}
    <div class="form-group clearfix error">
      <span class="help-block"><p>{% trans "You do not have permission to access the resource:" %}</p>
        <p><b>{{ request.GET.next }}</b></p>
        <p>{% url 'horizon:user_home' as home_url %}{% blocktrans %}Login as different user or go back to <a href="{{ home_url }}"> home page</a>{% endblocktrans %}</p>
      </span>
    </div>
    {% endif  %}
    {% if request.COOKIES.logout_reason %}
    <div class="form-group clearfix error" id="logout_reason">
      <span class="help-block alert alert-danger"><p>{{ request.COOKIES.logout_reason }}</p></span>
    </div>
    {% endif %}
    {% if next %}<input type="hidden" name="{{ redirect_field_name }}" value="{{ next }}" />{% endif %}
    {% include "horizon/common/_form_fields.html" %}
  </fieldset>
  <span class="pull-right"><div class="reset-link"><a href="{% url 'reset' %}">忘记密码?</a></div></span>
{% endblock %}

{% block modal-footer %}
  <button id="loginBtn" type="submit" class="btn pull-right">
    <span ng-hide="auth_type==='credentials'" ng-cloak>登 录</span>
  </button>
  <span class="pull-left"><div class="reg-link"><font color="#ccc">没有账号?</font><a href="{% url 'register' %}">注册</a></span>
{% endblock %}
