<!-- AUTHOR: PXD -->
{% extends "horizon/common/_modal_form.html" %} {% block modal-body %}
<center>
    <h1>重置密码</h1>
    <hr>
    <SCRIPT type="text/javascript">
    function isPwd(pwd) {
        if (pwd == "") return true;
        if (pwd.length < 6) {
            alert("密码长度至少为6位");
            return false;
        }
        if (pwd.length > 20) {
            alert("密码长度最多为20位");
            return false;
        }
    }

    function isSamePwd(pwd2) {
        if (pwd2 == "") return true;
        var pwd1 = document.getElementById("password1").value;
        if (pwd2 != pwd1) {
            alert("密码不一致");
            return false;
        }
    }

    function checkSubmit() {
        var pwd1 = document.getElementById("password1").value;
        var pwd2 = document.getElementById("password2").value;
        if (pwd1 == "") {
            alert("请填写密码!");
            return false;
        }
        if (pwd2 == "") {
            alert("请再次填写密码!");
            return false;
        }
        if (isPwd(pwd1) == false) {
            return false;
        }
        if (isSamePwd(pwd2) == false) {
            return false;
        }
    }
    </SCRIPT>
    <form name="regForm" id="regForm" method="post">
        <table>
            <tr>
                <td align="center">密码*:</td>
                <td>
                    <input type="password" id="password1" name="password1" onblur="isPwd(this.value)">
                </td>
            </tr>
            <tr>
                <td align="center">密码确认*:</td>
                <td>
                    <input type="password" name="password2" id="password2" onblur="isSamePwd(this.value)">
                </td>
            </tr>
            <tr>
                <td align="center"><a href="/horizon/auth/reset/">返回 </a></td>
                <td>
                    <input type="submit" value="提交" onclick="return checkSubmit()">
                </td>
            </tr>
        </table>
    </form>
</center>
{% endblock %} {% block modal-footer %}
<p></p>
{% endblock %}
